.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
}

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.current {
  color: var(--accent-color);
}

.name-page {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .name-page {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .container {
    max-width: 768px !important;
  }
}

.header-partfolio {
  border: 1px solid #ececec;
}

.work__nav-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__nav-btn:hover, .work__nav-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}

.work__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 94px;
}

.work__nav li {
  margin-bottom: 10px;
}

.modal-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: floralwhite;
  background: var(--accent-color);
  align-items: center;
  display: inline-block;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

.header {
  font-family: 'Roboto', sans-serif;
}

.header__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-btn, .header__popup {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 0.7;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 90px;
}

.logo__web {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 0.83;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__menu-link {
  position: relative;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms var(--cubic-bezier);
  padding-bottom: 30px;
  margin-right: 50px;
}

.header__menu-link:hover, .header__menu-link:focus {
  color: var(--accent-color);
}

.header__menu-link::after {
  display: flex;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms;
  border-radius: 2px;
}

.header__menu-link:hover::after {
  opacity: 1;
}

.header__menu-link-l {
  position: relative;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms var(--cubic-bezier);
  padding-bottom: 30px;
  margin-right: 50px;
  color: #2196F3;
}

.header__menu-link-l::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  transition: opacity 250ms;
  border-radius: 2px;
}

.header__contact-list {
  display: flex;
  align-items: center;
}

.header__link-adres {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-adres:hover, .header__link-adres:focus {
  color: var(--accent-color);
}

.svg__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.svg__mail:hover .svg__mail,
.svg__mail:focus .svg__mail {
  fill: var(--accent-color);
}

.header__link-num {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link-num:hover, .header__link-num:focus {
  color: var(--accent-color);
}

.svg__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.header__link-num:hover .svg__phone,
.header__link-num:focus .svg__phone {
  fill: var(--accent-color);
}

@media (max-width: 1024px) {
  .header__contact-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__contact-list li:first-child {
    margin-bottom: 10px;
  }
  .logo {
    margin-right: 40px;
  }
}

@media (max-width: 768px) {
  .header__div {
    flex-direction: column;
  }
  .header__nav {
    margin-bottom: 50px;
  }
  .header__contact-list {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .logo {
    margin-right: 0;
  }
  .header__menu, .header__contact-list {
    display: none;
  }
  .header__nav {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .header__nav-btn {
    display: block;
    cursor: pointer;
  }
  .header__nav-btn div {
    width: 24px;
    height: 3px;
    background: #212121;
    margin-bottom: 4px;
  }
  .header__nav-btn div:last-child {
    margin-bottom: 0;
  }
  .header__popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 48px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
  }
  .header__popup.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
  .header__popup-svg {
    fill: #212121;
    transition: 0.2s;
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  .header__popup-svg:hover {
    transition: 0.2s;
    fill: #2196F3;
  }
  .header__popup-list {
    list-style: none;
    font-size: 40px;
    line-height: 46px;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
  .header__popup-item {
    margin-bottom: 35px;
    color: #212121;
    transition: 0.2s;
  }
  .header__popup-item:hover {
    transition: 0.2s;
    color: #2196F3;
  }
  .header__popup-item a {
    color: inherit;
  }
  .header__popup-tel {
    display: block;
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    color: #2196F3;
    margin-bottom: 32px;
  }
  .header__popup-mail {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 64px;
    display: block;
  }
  .header__popup-links {
    display: flex;
    flex-wrap: wrap;
  }
  .header__popup-links li {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: #2196F3;
    margin-bottom: 10px;
  }
  .header__popup-links li:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.footer__logo {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.footer__li-adres {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__li-adres:hover, .footer__li-adres:focus {
  color: var(--accent-color);
}

.footer__li-link {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__li-link:hover, .footer__li-link:focus {
  color: var(--accent-color);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .footer__container-mail {
  margin-left: 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__li {
  margin-bottom: 9px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.footer__h2 {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__social-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-a:nth-last-child(1) {
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-a:focus, .footer__social-a:hover {
  background-color: #2196f3;
}

.footer__social-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer__social-a:hover .footer__social-svg,
.footer__social-a:focus .footer__social-svg {
  fill: #ffffff;
}

@media (max-width: 1024px) {
  .footer__container-mail {
    margin-top: 30px;
  }
  .footer__container-mail h3 {
    text-align: center;
  }
  .footer__container {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .footer {
    padding-bottom: 100px;
  }
  .footer__mail {
    flex-direction: column;
  }
  .footer__mail-input {
    width: 100%;
    padding: 10px 0;
    margin: 0 0 20px !important;
  }
}

@media (max-width: 480px) {
  .footer__mail-input {
    width: 100% !important;
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .footer__nav-list {
    margin-bottom: 30px;
  }
}

.about__first-phrase {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  display: flex;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/hero/bg.jpg);
}

@media (max-width: 1024px) {
  .about__first-phrase {
    width: 100%;
    font-size: 24px;
    line-height: 42px;
  }
  .about {
    padding: 120px 0;
  }
  .section {
    padding: 60px 0;
  }
}

.skills__svg {
  margin-top: 25px;
  margin-bottom: 25px;
}

.skills__list-div {
  height: 120px;
  width: 270px;
  display: flex;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.skills__head-lines {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 2.07;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  margin-right: 30px;
}

.skills__head-skills {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  display: flex;
  margin-right: 30px;
  margin-top: 10px;
}

.skills__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.skills__list li {
  width: 270px;
}

@media (max-width: 1024px) {
  .skills__list li {
    width: 47%;
    margin-bottom: 25px;
  }
  .skills__list-div {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .skills__list li {
    width: 47%;
    margin-bottom: 25px;
  }
  .skills__list-div {
    width: 100%;
  }
  .section {
    padding: 60px 0;
  }
}

@media (max-width: 480px) {
  .skills__list li {
    width: 100%;
  }
  .skills__list-div {
    width: 100%;
    justify-content: center;
  }
  .skills__head-skills {
    margin-right: 0;
  }
}

.do {
  padding-top: 0 !important;
  padding-bottom: 94px;
}

.do__ul {
  display: flex;
}

.do__container {
  background: #ffffff;
}

.do__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-right: 15px;
}

.do__overlay {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 0.8;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

@media (max-width: 1024px) {
  .do {
    display: none;
  }
}

.team__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team__li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  margin-bottom: 30px;
  margin-right: 20px;
}

.team__li:last-child {
  margin-right: 0;
}

.team__people {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team__people-position {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.social__list-link {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social__list:hover .social__list-link,
.social__list:focus .social__list-link {
  fill: #ffffff;
}

.team__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
}

.social__list:nth-last-child(1) {
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list:hover, .social__list:focus {
  background-color: #2196f3;
}

@media (max-width: 1024px) {
  .team__ul {
    justify-content: center;
  }
  .team__li {
    width: 354px;
  }
  .team__cards {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .team__li {
    width: 100%;
    max-width: 450px;
  }
  .team__cards {
    width: 100%;
    height: auto;
  }
}

.klient__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.klient__li {
  margin-bottom: 10px;
}

.klient__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klient__a:hover .klient__svg,
.klient__a:focus .klient__svg {
  fill: var(--accent-color);
}

.klient__a {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.klient__a:hover, .klient__a:focus {
  fill: var(--accent-color);
  border: 1px solid #2196f3;
}

@media (max-width: 1024px) {
  .klient__ul {
    justify-content: center;
  }
  .klient__li {
    margin: 0 10px 10px;
  }
  .klient__a {
    width: 226px;
  }
}

@media (max-width: 768px) {
  .klient__a {
    width: 210px;
  }
}

@media (max-width: 480px) {
  .klient__li, .klient__a {
    width: 100%;
    margin: 0 auto 10px auto;
  }
}

.modal__beckdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__beckdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  border-radius: 4px;
  padding: 40px;
  background-color: #fff;
}

.modal__form-feedback {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  color: #212121;
}

.modal__btn-close-svg {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal__btn-close-svg:hover {
  fill: var(--accent-color);
}

.modal__btn-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
}

.modal__form-label-svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  outline: none;
}

.modal__form-input:focus + .modal__form-label-svg {
  fill: var(--accent-color);
}

.footer__mail-svg-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.modal__form-input:focus {
  border-color: var(--accent-color);
}

.modal__form-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal__form-mesage {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
}

.modal__form-mesage:focus {
  border-color: var(--accent-color);
}

.modal__form-mesage::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-btn {
  align-self: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: floralwhite;
  background: var(--accent-color);
  align-items: center;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__form-checkbox-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__form-checkbox {
  position: relative;
}

.modal__span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 10px;
}

.modal__form-checkbox:checked + .modal__span {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__form-policy-link {
  margin-left: 2px;
  color: var(--accent-color);
}

.modal__form-svg {
  position: absolute;
  width: 11px;
  height: 8px;
}

.footer__container-mail {
  margin-left: 93px;
}

.footer__mail {
  display: flex;
  margin-top: 20px;
  height: 50px;
}

.footer__h3 {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__mail-input {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 0.8;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
}

.footer__mail-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: floralwhite;
  background: var(--accent-color);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__form-label {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 0.8;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

@media (max-width: 768px) {
  .modal {
    min-width: 80%;
  }
}

@media (max-width: 480px) {
  .modal {
    min-width: auto;
    width: 98%;
    padding: 50px 15px 30px;
  }
}

.work {
  margin-bottom: 94px;
}

.work__card {
  margin: 0 7px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__card:focus, .work__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.work__card-img {
  position: relative;
  overflow: hidden;
}

.text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.work__card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.work__card-link:hover .work__card-overlay {
  opacity: 1;
  transform: translateY(0);
  transition: 0;
}

.div-photo {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.photo-second-name-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical tobox height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

.photo-name-list {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.photo-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.photo-item {
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .work__card {
    width: 450px;
  }
  .work__card-img img, .work__card-link img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .work__card-list {
    justify-content: center;
    margin-left: 0;
  }
  .work__card-img img {
    width: 100%;
    height: auto;
  }
  .work__card {
    margin-left: 0;
  }
  .work__card-link img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */