.work {
  margin-bottom: 94px;
}
.work__card {
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.work__card-img {
  position: relative;
  overflow: hidden;
}
.text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;

  color: #ffffff;
}
.work__card-overlay {
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding-left: 24px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  .work__card-link:hover & {
    opacity: 1;
    transform: translateY(0);
    transition: 0;
  }
}

.work__card-link {
}
.div-photo {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.photo {
  &-second-name-list {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    /* identical tobox height, or 187% */
    letter-spacing: 0.03em;
    color: #757575;
  }
  &-name-list {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  &-item {
    margin-left: 30px;
    margin-top: 30px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
  }
}
