.header__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header__menu {
    display: none;
  }
  .header__menu-link-l {
    display: none;
  }
}

.header__menu {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 0.7;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: 90px;
  &__web {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 0.83;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
}

.header__menu-link {
  position: relative;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms var(--cubic-bezier);
  padding-bottom: 30px;
  margin-right: 50px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &::after {
    display: flex;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity 250ms;
    border-radius: 2px;
  }
  &:hover::after {
    opacity: 1;
  }
}
.header__menu-link-l {
  position: relative;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 250ms var(--cubic-bezier);
  padding-bottom: 30px;
  margin-right: 50px;

  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    transition: opacity 250ms;
    border-radius: 2px;
  }
  &:hover::after {
    opacity: 1;
  }
}
.header__contact-list {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__contact-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 84px;
  }
}

.header__link-adres {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .header__link-adres {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 8px;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .svg__mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    &:hover .svg__mail,
    &:focus .svg__mail {
      fill: var(--accent-color);
    }
  }
}
.svg__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  &:hover .svg__mail,
  &:focus .svg__mail {
    fill: var(--accent-color);
  }
}

.header__link-num {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.svg__phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  .header__link-num:hover &,
  .header__link-num:focus & {
    fill: var(--accent-color);
  }
}
