.team__ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.team__li {
  margin-left: 20px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
.team__people {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

.team__people-position {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.social__list-link {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  .social__list:hover &,
  .social__list:focus & {
    fill: #ffffff;
  }
}
.team__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;

  &:nth-last-child(1) {
    margin-right: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}