.name-page {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media(max-width: 1024px) {
  .name-page {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .container {
    max-width: 768px !important;
  }
}